{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <title>Lista de Tarefas</title>
</head>

<body>
  {% for message in messages %}
  <div class="alert {{ message.tags }}" role="alert">
    {{ message }}
  </div>
  {% endfor %}

  <main>
    <h1 style="text-align: center; padding-bottom: 20px;">Lista de Tarefas</h1>

    <form class="add-form" action="{% url 'cadastrar_tarefa' %}" method="POST">{% csrf_token %}
      <input type="text" name="tarefa" placeholder="Adicionar tarefa" class="input-task">
      <button type="submit">+</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Tarefa</th>
          <th>Criada em</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        {% for tarefa in tarefas %}
        <tr>
          <td id="input-{{ tarefa.id }}">{{tarefa.tarefa}}</td>
          <td>{{tarefa.data_criacao}}</td>
          <td>
            <select id="lista_{{ tarefa.id }}" onchange="atualizaStatus(this)">
              {% if tarefa.status == "pd" %}
              <option value="pd" selected>pendente</option>
              <option value="ea">em andamento</option>
              <option value="cc">concluída</option>
              {% elif tarefa.status == "ea" %}
              <option value="pd">pendente</option>
              <option value="ea" selected>em andamento</option>
              <option value="cc">concluída</option>
              {% else %}
              <option value="pd">pendente</option>
              <option value="ea">em andamento</option>
              <option value="cc" selected>concluída</option>
              {% endif %}
            </select>
          </td>
          <td>
            <button id="edit_{{ tarefa.id }}" class="btn-action" onclick="editarTarefa(this)">
              <span class="material-symbols-outlined">edit</span>
            </button>


            <button class="btn-action">
              <span class="material-symbols-outlined">
                <a class="material-symbols-outlined" href="{% url 'excluir_tarefa' tarefa.id %}">
                  <img src="{% static 'assets/images/excluir.png' %}" alt="Excluir Tarefa">
                </a>
              </span>
            </button>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>

  <!-- <script src="{% static 'js/script.js' %}"> -->
  <script>
    function editarTarefa(botaoClicado) {
      let idBotao = botaoClicado.id.split("_")[1]
      let tdTarefa = document.getElementById("input-" + idBotao)

      // Cria o elemento de input
      const inputElement = document.createElement('input')
      inputElement.type = "text"
      inputElement.value = tdTarefa.innerText

      //Substitui o contéudo da célula pelo campo de texto
      tdTarefa.innerText = ""
      tdTarefa.appendChild(inputElement)

      // Coloca o foco no campo de entrada
      inputElement.focus();

      // Função para salvar as alterações
      function salvarAlteracoes() {
        const novoConteudo = inputElement.value;
        tdTarefa.removeChild(inputElement);
        tdTarefa.textContent = novoConteudo;
        window.location.href = '/editar_tarefa/' + idBotao + "/" + novoConteudo;
      }

      // Adiciona ouvinte de evento para detectar a tecla Enter
      inputElement.addEventListener("keydown", function (event) {
        if (event.key === "Enter" || event.key === "Escape") {
          salvarAlteracoes();
        }
      });

      // Adiciona ouvinte de evento para detectar a perda de foco
      inputElement.addEventListener("blur", salvarAlteracoes);
    }

    // Agora você pode fazer o que precisar com o ID, como redirecionar para uma página com o ID

    // window.location.href = '/editar_tarefa/' + idTarefa;

    function atualizaStatus(listaSelecionada) {
      let idLista = listaSelecionada.id.split("_")[1]
      let statusLista = listaSelecionada.value

      window.location.href = '/atualiza_status/' + idLista + "/" + statusLista;
    }



  </script>
</body>

</html>